---
layout: base
---
.hero-unit
  %h1 Welcome!
  %p Programming, Rants and more.
.row
  .span3
    %h2 Blog
    %p Here you find my blog on which I talk mostly about topics related to Java, JVM and performance.
    %p
      %a.btn{ :href=>'/blog/' } Gimme the blog posts&raquo; 
  .span3
    %h2 Projects 
    %p I'm involved in multiple opensource projects. If you want to find out more about them and my work there, this is the section you want check out.
    %p
      %a.btn{ :href=>'/projects/' } Gimme the info, now!&raquo; 
  .span3
    %h2 Presentations
    %p I'm regulary giving talks which are related to the Projects I'm involved in. Here you can find those...
    %p
      %a.btn{ :href=>'/projects/' } I love presentations!&raquo; 
  .span3
    %h2 About Me 
    %p Want to learn more about me... 
    %p
      %a.btn{ :href=>'/aboutme/' } Who is this guy?&raquo; 
