---
layout: base
---
.hero-unit
  %h2{:style => "height: 120px;text-align: right;color: white"} The Thoughts of Norman Maurer

.row
  .span1
  .span10
    .row 
      .span10
      %p
      Norman Maurer is currently employed by  
      %a{ :href=>'http://www.redhat.com'} Red Hat
      as Principal Software Engineer where he spend its time to work on high-performing Network Frameworks running on the JVM. He is one of the core-developers of 
      %a{ :href=>'http://netty.io'} Netty
      \/ 
      %a{ :href=>'http://vertx.io'} Vert.x
      and Member of the 
      %a{ :href=>'http://www.apache.org'} Apache Software Foundation
      \. Beside this he is the Author of 
      %strong Netty in Action
      and is interested in everything related to performance...
      %p
    .row
      .span2
        %img{ :src=>'/images/maurer_cover150.jpg'} 
      .span8
        %h4 Netty in Action 
        %p 
        Netty in Action introduces the Netty framework and shows you how to incorporate it into your Java network applications. You'll learn to write highly-scalable applications without the need to dive into the low-level non-blocking APIs at the core of Java. You'll learn how to think in an asynchronous way as you work through numerous hands-on examples. You'll follow numerous examples that show you how to use Netty while you master the best practices of large-scale network apps.
        %p
        %a.btn{ :href=>'http://manning.com/maurer/'} Buy it online
  .span1