// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

.hero-unit {
        background-image: url(../images/banner_color_small.jpg);    
}
