---
layout: base
---
#content
  %article
    %header.page-header
      %h1.title
        %a{:href=>page.qurl}= page.title
      .meta
        %time= page.date.strftime("%B %e, %Y")
    .content
      ~ page.content
